<div ng-controller="CategoriesController as CategoriesCtrl" />
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Recherche...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12" ng-init="console.log(CategoriesCtrl);">
        laaaaa
        {{CategoriesCtrl.truc}}
        <div ng-repeat="playlist in CategoriesCtrl.ScenesSingleton.Scenes">
            {{playlist.Name}} Hello


        </div>
    </div>
</div>