<div ng-controller="ScenesController as ScenesCtrl">
    <div class="col-xs-12 col-md-12 align-top">
        <!-- Ne pas utiliser pour le moment, servira si le temps le permet à gérer plusieurs scènes (enregistrement/chargement)-->
        <!-- <div ng-include="'Views/ScenesPickerView.html'"></div>-->
        <div ng-repeat="playlist in ScenesCtrl.ScenesSingleton.CurrentScene.Playlists" class="col-xs-12 col-md-6">
            <div class="well well-lg">
                <button class="pull-right" ng-click="ScenesCtrl.RemovePlaylist(playlist)">X</button>
                <h4 ng-bind="playlist.Name"></h4>
                <p>Contenu</p>
                <audio controls>
                    <source src="http://www.w3schools.com/html/horse.ogg" type="audio/ogg" />
                    <source src="http://www.w3schools.com/html/horse.mp3" type="audio/mpeg" />
                    <a href="http://www.w3schools.com/html/horse.mp3">horse</a>
                </audio>

            </div>
        </div>
        <div class="col-xs-12 col-md-12" ng-show="ScenesCtrl.ScenesSingleton.CurrentScene.IsEmpty">
            <div class="well well-lg">
                <p><= Select a playlist here to add to your scene...</p>
            </div>
        </div>
    </div>
</div>