<div ng-controller="ScenesController as ScenesCtrl">
    <div class="col-xs-12 col-md-12 align-top">
        <!-- Ne pas utiliser pour le moment, servira si le temps le permet à gérer plusieurs scènes (enregistrement/chargement)-->
        <!-- <div ng-include="'Views/ScenesPickerView.html'"></div>-->
        <h1 class="text-center">{{ScenesCtrl.ScenesSingleton.CurrentScene.Name}}</h1>
        <div class="row">
            <div ng-repeat="playlist in ScenesCtrl.ScenesSingleton.CurrentScene.Playlists" class="col-xs-12 col-md-6">
                <div class="well well-lg">
                    <button class="pull-right" ng-click="ScenesCtrl.RemovePlaylist(playlist)">X</button>
                    <h4 ng-bind="playlist.Name"></h4>
                    <div>
                        <p>Fréquence</p>
                        <span>
                            min
                            <input class="freq-input" type="text" ng-model="playlist.MinFrequency" value="0"/>
                        </span>
                        <span>
                            max
                            <input class="freq-input" type="text" ng-model="playlist.MaxFrequency" value="0"/>
                        </span>
                    </div>
                    <div ng-repeat="sound in playlist.Sounds">
                        <audio controls id="{{sound.Id}}">
                            <source src="{{sound.Path}}" type="audio/mpeg" />
                        </audio>
                    </div>
                </div>
            </div>
        <div class="col-xs-12 col-md-12" ng-show="ScenesCtrl.ScenesSingleton.CurrentScene.IsEmpty">
            <div class="well well-lg">
                <p><= Select a playlist here to add to your scene...</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <h2 class="text-center title-main">Scene Controls</h2>
            <div class="text-center">
                <span class="glyphicon glyphicon-play" ng-click="ScenesCtrl.playGeneral()"></span>
                <span class="glyphicon glyphicon-pause" ng-click="ScenesCtrl.playGeneral()"></span>
                <span class="glyphicon glyphicon-backward" ng-click="ScenesCtrl.slowGeneral()"></span>
                <span class="glyphicon glyphicon-forward" ng-click="ScenesCtrl.fastGeneral()"></span>
                <span class="glyphicon glyphicon-stop" ng-click="ScenesCtrl.stopGeneral()"></span>
            </div>
        </div>
    </div>
</div>